
h1 span {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

/* __________________________________

       GLOBAL
   __________________________________ */

#release-editor > ul.tabs {
    background: #F6A828;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #e78f08;
    line-height: 1.3;
    padding: 3px 0 0 4px;
}

#release-editor > ul.tabs li input[type=submit] {
    border: 0;
    color: #1c94c4;
    background: white;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
}

#release-editor > ul.tabs li.current input[type=submit] {
    color: #eb8f00;
}

#release-editor > ul.tabs li {
    background: white;
    list-style: none;
    float: left;
    position: relative;
    top: 1px;
    white-space: nowrap;
    border: 1px solid #ccc;
    border-bottom: 0;
    margin: 0 3px 1px 0;
    padding: 6px 12px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#release-editor > ul.tabs li.current {
    color: #eb8f00;
    margin: 1px 3px 0px 0;
}

#release-editor .documentation p { margin-top: 0; }
#release-editor .documentation div.warning p { margin-top: 1em; }

#release-editor fieldset legend {
    color: #fc6714;
    font-size: 120%;
    font-weight: bold;
    margin: 0 10px;
}

#release-editor fieldset {
    border: 1px solid #aaa;
    background: #ffffff;
    margin-top: 0;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

#release-editor fieldset input[type=checkbox] { width: auto; }

/* __________________________________

       INFORMATION TAB
   __________________________________ */


#release-editor div.half-width { margin: 0; }

#release-editor div.artist-credit label,
#release-editor div.release-label label.label-name,
#release-editor div.release-event label.country,
#release-editor div.release-event label.date {
    float: left;
    margin-right: 12px;
    text-align: right;
    width: 100px;
}

#release-editor div.release-event span.partial-date {
    margin: 0 11px;
    width: 300px;
    display: inline-block;
}
#release-editor div.release-event span.partial-date input { width: auto; }


#release-editor div.release-label input[disabled] {
    text-decoration: line-through;
    color: #aaa;
    background: #fff;
}

#release-editor tr.artist-credit-box input[type=text] { width: 200px; }

#release-editor div.release-label input.name { width: 134px; }
#release-editor div.release-label label.catno {
    float: none;
    text-align: right;
    width: 40px;
    padding: 0 4px 0 10px;
}

#release-editor div.release-label input.catno { width: 85px; }

#release-editor div.release-label input.label-name,
#release-editor div.release-label label.catno,
#release-editor div.release-label input.catno,
#release-editor div.release-event label.date
{ margin: 0; }

#release-editor fieldset span.partial-date input { width: auto; }

#release-editor .documentation div.barcode-container,
#release-editor .documentation div.artist-credit-container { width: 100%; margin-top: 60px; }

/* __________________________________

       TRACKLIST TAB
   __________________________________ */

#release-editor div.basic-disc.deleted,
#release-editor textarea.tracklist.deleted,
#release-editor fieldset.advanced-disc.deleted { display: none; }

#release-editor fieldset.advanced-disc tr.track > td > span > input[type=text],
#release-editor fieldset.advanced-disc tr.track > td > input[type=text] { border: 1px solid transparent; }
#release-editor fieldset.advanced-disc tr.track > td > span > input[type=text]:focus,
#release-editor fieldset.advanced-disc tr.track > td > input[type=text]:focus { border: 1px solid #FFBA58; }

#release-editor table.medium.tbl { border-collapse: collapse; width: 100%; }
table.medium.tbl tr.deleted { display: none; }
table.medium.tbl td.position  { width: 4em; }
table.medium.tbl td.reorder  { width: 38px; }
table.medium.tbl td.credits-button { width: 4em; text-align: right; }
table.medium.tbl td.length    { width: 5em; }
table.medium.tbl td.icon      { width: 38px; text-align: right; }
table.medium.tbl td.guesscase a { color: #d3d3d3; font-weight: bolder; }
#release-editor table.medium.tbl th {
    background:url("../images/layout/table-header-2.gif") repeat-x scroll 0 50% transparent;
    border-bottom:1px solid #999;
    border-left:1px solid #CCC;
    font-size:95%;
    padding: 3px 5px;
    text-align:left;
}
#release-editor .medium.tbl tr td {
    background: #fff;
    border: 1px dotted #eee;
    padding: 0 5px;
}

#release-editor .medium.tbl td input[type=text][disabled] { color: #aaa; }
#release-editor .medium.tbl td input[type=text] {
    background: #fff;
    height: 100%;
    width: 100%;
}

#release-editor .medium.tbl td input[type=text].lookup-performed { background: #bfb; color: #000; }

#release-editor .medium.tbl td.position input { text-align: right; }
#release-editor .medium.tbl td.length input { text-align: right; }

#release-editor div.basic-disc.expanded { margin: 0 0 10px 0; }
#release-editor table.basic-format { width: 100%; padding: 0 10px; margin: 0; }
#release-editor table.basic-format h3 { margin: 0; }
#release-editor table.basic-format td.format { text-align: center; }
#release-editor table.basic-format td.icon { text-align: right; }

#release-editor div.basic-medium-format-and-title div.row {
    display: inline;
}

#release-editor div.basic-medium-format-and-title label { float: none; }

#release-editor table.advanced-format { width: 100%; }
#release-editor table.advanced-format td { vertical-align: top; }
#release-editor table.advanced-format td.icon { padding: 10px; }

#release-editor fieldset.advanced-disc div.icon { padding: 10px; }
#release-editor fieldset.advanced-disc div.add-track input.add-track-count {
    width: 2em; margin: 0.2em; padding: 0;
}
#release-editor fieldset.advanced-disc div.icon { display: none; }
#release-editor fieldset.advanced-disc.expanded div.icon { display: block; }

#release-editor .medium.tbl tr.track-artist-credit,
#release-editor .medium.tbl tr.track-artist-credit th,
#release-editor .medium.tbl tr.track-artist-credit td { margin: 0; border: 0; }

#release-editor .medium.tbl tr.track-artist-credit,
#release-editor .medium.tbl tr.track-artist-credit > td { background-color: #fff; }
#release-editor .medium.tbl tr.track-artist-credit > td { padding: 12px; }
#release-editor .medium.tbl tr.track-artist-credit th { background: inherit; }

#release-editor .medium.tbl tr.track-artist-credit td table {
    margin: 0; padding: 12px; border: 1px solid #999;
    background: #f0f0f0;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

#release-editor .medium.tbl tr.track-artist-credit td table td {
    background: #f0f0f0;
    padding: 2px;
}

#release-editor .medium.tbl tr.track-artist-credit td table td.icon {
    padding-left: 10px
}

#release-editor fieldset select.format { width: 150px; }

#release-editor fieldset.advanced-disc div.tracklist-loading { width: 100%; }
#release-editor fieldset div.recordings-loading,
#release-editor fieldset div.tracklist-loading { padding: 110px 0 0 0; height: 140px; }
#release-editor fieldset div.recordings-loading,
#release-editor fieldset div.tracklist-loading p {
    width: 100%;
    text-align: center;
}

div.guesscase-options,
#tracklist-options {
    margin: 10px 0 10px 10px;
}

#release-editor fieldset div.guesscase-options select {
    width: 100px;
}

/* __________________________________

       TRACKLIST TAB, ADD DISC
   __________________________________ */

div.dialog {
    position: absolute;
    background: #fafafa;
    border: 1px solid #999;
    padding: 1em;
    width: 600px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 16px #888;
    -moz-box-shadow: 0 1px 16px #888;
    box-shadow: 0 1px 16px #888;
    z-index: 20;
}

div.dialog textarea.tracklist {
    height: 250px;
    margin: 0;
    width: 600px;
}

div.dialog div.buttons { margin-top: 1em; width: 100%; }

.add-disc-dialog div.tabs li a { background: #ddd; }
.add-disc-dialog div.tabs li.sel a { background: #f0f0f0; border-bottom: 1px solid #f0f0f0; }

.add-disc-dialog div.tracklist-padding { padding: 0 12px 12px 12px; }

.add-disc-dialog div.import-message { width: 100%; padding-left: 1em; }
.add-disc-dialog div.import-message p { clear: both; }

/* __________________________________

            RECORDINGS TAB
   __________________________________ */

#release-editor .recordings p { margin-top: 0; }
#release-editor div.select-recording { background: #f0f0f0; }

span.add-recording { color: #999; }
table.matches { width: 100%; }
a.change-recording { min-width: 48px; }

/* __________________________________

        EDIT PREVIEW / EDIT NOTE
   __________________________________ */


#release-editor #editnote  { height: 70px; }

#release-editor fieldset.editnote {
    border: 0;
    background: inherit;
}

#release-editor fieldset.editnote textarea {
    width: 300px;
}

#release-editor div.editnote { margin-bottom: 1em; }


#release-editor table.preview { width: 100%; margin: 0 0 10px 0 }
#release-editor table.preview .artist { width: 160px; }
#release-editor table.preview .duration {
    width: 50px;
    padding-left: 10px;
}
#release-editor table.preview .trackno {
    width: 30px;
    padding-right: 10px;
    text-align: right;
}


/* __________________________________

            BUTTONS / ICONS
   __________________________________ */

td.buttons { display: table-cell; }

#release-editor div.documentation a.icon,
#release-editor fieldset a.icon { text-decoration: none; }

#release-editor div.documentation .ui-icon,
#release-editor fieldset .ui-icon { display: inline-block; opacity: 0.4 }
#release-editor fieldset a.disc-remove-track .ui-icon { opacity: 0.2 }
#release-editor div.documentation .ui-icon:hover,
#release-editor fieldset .ui-icon:hover { opacity: 1 }

#release-editor input.add-track-count {
    position: relative; left: 0; top: -3px;
    display: inline-block;
    margin-right: 2em;
    width: 2em;
    border: 1px solid #ccc;
    background: transparent;
    color: #9e9e9e;
    text-align: right;
}

input.disabled-hint { cursor: help; }

